---
layout: default
---
<div class="paper-home">
  {% for post in paginator.posts %}
    <div class="post">
      <div class="header">
        <h5 class="subheader">
     {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Enero
  {% when '2' %}Febrero
  {% when '3' %}Marzo
  {% when '4' %}Abril
  {% when '5' %}Mayo
  {% when '6' %}Junio
  {% when '7' %}Julio
  {% when '8' %}Agosto
  {% when '9' %}Septiembre
  {% when '10' %}Octubre
  {% when '11' %}Noviembre
  {% when '12' %}Diciembre
{% endcase %}
{{ page.date | date: "%Y" }}
        </h5>
      
          <a class="mdl-navigation__link" href="{{ post.url | replace_first: '/', '' | prepend: site.baseurl | prepend: site.url }}">
              <h1>{{ post.title }}</h1>
          </a>
      </div>
      {{ post.content | truncatewords:75}}
      <div>
        <a class="mdl-button mdl-button--accent" href="{{ post.url | replace_first: '/', '' | prepend: site.baseurl | prepend: site.url }}">Leer más</a>
      </div>  
    </div>
  {% endfor %}

  <div class="mdl-grid pagination">
    <div class="mdl-cell mdl-cell--4-col previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="mdl-button mdl-button--primary" href="{{ site.baseurl }}{{ prepend: site.url}}">&larr; Más nuevo</a>
        {% else %}
          <a class="mdl-button mdl-button--primary" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | prepend: site.baseurl | prepend: site.url}}">&larr; Más nuevo</a>
        {% endif %}
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>&larr; Más nuevo</a>
      {% endif %}
    </div>

    <div class="mdl-cell mdl-cell--4-col indicator subheader">
      Página {{ paginator.page }} / {{ paginator.total_pages }}
    </div>

    <div class="mdl-cell mdl-cell--4-col next">
      {% if paginator.next_page %}
        <a class="mdl-button mdl-button--primary" href="{{ site.paginate_path | replace: ':num', paginator.next_page | prepend: site.baseurl | prepend: site.url}}">Más viejo &rarr;</a>
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>Más viejo &rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
